<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Properties>
    <Property name="filename">log/tscDesktop.log</Property>
  </Properties>
  <Appenders>
    <Console name="STDOUT">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] %F:%L - %m%n</Pattern>
      </PatternLayout>
    </Console>
    <File name="FILE" fileName="${filename}">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] %F:%L - %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="FILE"/>
    </Root>
  </Loggers>
</Configuration>